/* common style */
ul li {
    list-style: none;
}

.font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
}

.minifont {
    font-size: 14px;
}

.price-input {
    width: 200px;
    margin-right: 10px;
}

.el-select {
    width: 100px;
}

.desc {
    width: 70%;
    display: block;
    min-width: 300px;
}

.btn-infomy {
    margin: 20px 0px;
}

.btn-infoms {
    margin: 30px 15px 0px 0px;
}

.btn-infomk {
    margin-top: 100px;
}

.btn-cancel {
    color: brown;
}

.labels {
    font-size: 16px;
    line-height: 60px;
}

.el-select-dropdown {
    background-color: #373943;
}

.el-select-dropdown__item.selected {
    color: #38F2AF;
}

.el-select-dropdown__item {
    color: #fff;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: #373943;
    color: #668b66;
}

.el-select .el-input__inner {
    border: #668b66 1px solid;
    background-color: #373943;
    color: #38F2AF;
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #373943
}

.el-popper[x-placement^=top] .popper__arrow::after {
    border-bottom-color: #373943
}

.amount-input {
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.el-input__inner {
    font-family: 'Courier New', Courier, monospace;
    background-color: #373943;
    color: #38F2AF;
}

.el-input__suffix-inner {
    background-color: #373943;
}

.el-input .el-input__count .el-input__count-inner {
    background-color: #373943;

}

/* /* tab 标签页面 */
.el-tabs {
    min-height: 500px;
    position: relative;
    color: #fff;
}

.el-tabs__nav {
    width: 100%;
    height: 70px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

.el-tabs__item {
    height: 70px;
    width: 120px;
    font-size: 24px;
    font-weight: 700;
    padding: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.el-tabs__active-bar {
    background-color: #fff;
    width: 120px;
}

.el-tab-pane {
    padding: 30px 30px;
}
.el-tabs>.el-tabs__header .el-tabs__item.is-active {
    color: #fff;
    border: none;
}

.el-tabs>.el-tabs__header .el-tabs__item {
    padding-left: -1px;
}

.el-tabs--top.el-tabs>.el-tabs__header .el-tabs__item:nth-child(2),
.el-tabs--top.el-tabs>.el-tabs__header .el-tabs__item:last-child {
    padding: 0;
}

.el-icon-info:before {
    font-size: xx-large;
}

.el-button.is-circle {
    padding: 0px;
}

.el-button:hover {
    color: #668b66;
}

.el-dialog {
    background-color: #373943;
    color: #fff;
}

.el-dialog__header .el-dialog__title {
    color: #fff;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-dialog__body .el-card {
    background-color: #373943;
    color: #fff;
    min-height: 300px;
}

.el-icon-question {
    font-size: 25px;
}

.info {
    text-align: center;
    margin-top: 300px;
}